-e git+https://github.com/django-nonrel/django.git#egg=django-nonrel
-e git+https://github.com/django-nonrel/djangotoolbox.git#egg=djangotoolbox
-e git+https://github.com/django-nonrel/mongodb-engine#egg=mongodb-engine
whitenoise==2.0.6
gunicorn==19.6.0
pymongo==3.3.0
